body {
    background:url("https://wallpaperaccess.com/full/39665.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
.input-container{
    padding: 30px;
    display: inline-block;
    width: 50%;
    background-color: lightskyblue;
    border-radius: 5px;
}
.inputtt{
    width: 65%;
    padding: 3px;
}

.inputtt:focus{
    outline: none;
}
.but{
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.popup-overlay{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}
.popup-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    color: black;
  }
  
  .popup-box h2 {
    margin-bottom: 20px;
  }
  
  .popup-box label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
  }
  
  .popup-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-buttons {
    display: flex;
    justify-content: end;

    
  }
  
  .submit-btn {
    color: white;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: burlywood;
    cursor: pointer;
    color: black;
    margin-right:4px ;
  }
  
  .close-btn {
    color: white;
    padding:8px;
    border-radius: 10px;
    border: none;
    background-color: burlywood;
    cursor: pointer;
    color: black;
  
  }
  .tasks-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
  }
  
  .task-card input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .task-card div {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .completed label {
    text-decoration: line-through;
    color: gray;
  }

  @media screen and (max-width:600px) {
    body{
      background:url("https://wallpaperaccess.com/full/39669.jpg") no-repeat center center fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
  }
  